* {
	padding: 0;
	margin: 0;
	border: 0;
}

h3 {
	font-size: 10px;
}

.list-group {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}

.form {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	text-align: center;
}

.panel {
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05) !important;
}

.buttonSubmitClass {
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	text-align: center;
}

.queryResults {
	margin-left: 10%;
	margin-right: 10%;
	width: 80% !important;
}

.form-control {
	width: 500px !important;
}

h7 {
	float: left !important;
}

.table {
	text-align: center !important;
	border: none !important;
	border-collapse: collapse;
}

th, td, tr {
	border: none !important;
	text-align: center !important;
}

body {
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Bellefair', serif !important;
}

.blended_grid {
	display: block;
	width: 100% overflow: auto;
	height: 100% overflow: auto;
}

.pageHeader {
	float: left;
	clear: none;
	height: 15%;
	width: 100%;
	font-family: 'Bellefair', serif !important;
}

td {
	border: 1px black solid;
	padding: 5px;
}

.alertify-notifier .ajs-message.ajs-error {
	background: #337ab7;
}

.alertify-notifier .ajs-message {
	font-family: 'Bellefair', serif !important;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
	left: 0px;
}